<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Companion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D52EE1C41DA5495E0083362A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52EE1D81DA5495E0083362A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52EE1E31DA5495E0083362A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
